<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Declare camera hardware feature as optional -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vortex_App"
        tools:targetApi="31">

        <!-- Notifications -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".NotificationDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"/>

        <!-- Events -->
        <activity
            android:name=".EventsActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity android:name=".EventActivity" />
        <activity android:name=".EventInfoActivity" />

        <!-- Organizer Activities -->
        <activity android:name=".OrganizerInfo"/>
        <activity android:name=".OrganizerMenu"/>
        <activity android:name=".AddEvent"/>
        <activity android:name=".OrganizerActivity"
            android:exported="false"/>
        <activity android:name=".OrgQRCodeActivity"
            android:exported="false"/>
        <activity android:name=".CancelledEntrantsActivity" />
        <activity android:name=".SelectedEntrantsActivity" />
        <activity android:name=".FinalEntrantsActivity" />
        <activity android:name=".OrgWaitingListActivity" />
        <activity android:name=".LocationActivity" />

        <!-- Waiting List -->
        <activity android:name=".WaitingListActivity" />

        <!-- Profile -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <!-- Entrant -->
        <activity
            android:name=".EntrantActivity"
            android:exported="false" />

        <!-- Signup -->
        <activity android:name=".SignupActivity" />

        <!-- QR Scanner -->
        <activity
            android:name=".QrScannerActivity"
            android:exported="false" />

        <!-- Firebase Messaging Service -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
