<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vortex_app">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Application Definition -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vortex_App"
        tools:targetApi="31">

        <!-- Firebase Messaging Service -->
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkKnwju9dUU9hK4dWWFaSAogFlth0oDBw" />

        <!-- Main Activity -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- QR Scanner Activities -->
        <activity
            android:name=".view.qrcode.QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".view.qrcode.CustomScannerActivity"
            android:exported="false" />
        <activity
            android:name=".view.qrcode.OrgQRCodeActivity"
            android:exported="false" />

        <!-- Organizer Activities -->
        <activity android:name=".view.organizer.OrganizerInfo" />
        <activity android:name=".view.organizer.OrganizerMenu" />
        <activity android:name=".view.event.AddEvent" />
        <activity android:name=".view.organizer.OrganizerActivity" android:exported="false" />

        <!-- Facility Activities -->
        <activity android:name=".view.facility.MyFacilityActivity" />
        <activity android:name=".view.facility.CreateFacilityActivity" android:exported="false" />
        <activity android:name=".view.facility.EditFacilityActivity" android:exported="false" />

        <!-- Entrant Activities -->
        <activity android:name=".view.entrant.EntrantActivity" android:exported="false" />
        <activity android:name=".view.entrant.CancelledEntrantsActivity" />
        <activity android:name=".view.entrant.OrgSelectedEntrantsActivity" />
        <activity android:name=".view.entrant.FinalEntrantsActivity" />

        <!-- Event Activities -->
        <activity android:name=".view.event.ManageEventsActivity" android:exported="false" />
        <activity android:name=".view.event.EventInfoActivity" />

        <!-- Notification Activities -->
        <activity android:name=".view.notification.NotificationsActivity" android:exported="false" />
        <activity android:name=".view.notification.NotificationDetailActivity" android:exported="false" />

        <!-- Profile Activities -->
        <activity android:name=".view.profile.ProfileActivity" android:exported="false" />
        <activity android:name=".view.profile.EditProfileActivity" android:exported="false" />

        <!-- Location Activities -->
        <activity android:name=".view.location.LocationActivity" android:exported="false" />


        <!-- Admin Activities -->
        <activity android:name=".view.admin.AdminMainscreen" android:exported="false" />
        <activity android:name=".view.admin.AdminFacilityScreen" android:exported="false" />
        <activity android:name=".view.admin.AdminEventScreen" android:exported="false" />
        <activity android:name=".view.admin.AdminProfileScreen" android:exported="false" />
        <activity android:name=".view.admin.AdminProfileViewer" android:exported="false" />
        <activity android:name=".view.admin.AdminEventInfoScreen" android:exported="false" />

    </application>
</manifest>
